<div class="app-loader">
    <p class="app-loader__image">
      <img src="/images/interwind.gif" alt="Chargement…" style="height: 400px;">
    </p>
    <p class="app-loader__text">
        En cours de chargement...
    </p>
</div>
