.pix-logo {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 30px;
}

.pix-logo__link {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.pix-logo__image {
  height: 45px;
  

  @include device-is('desktop') {
    height: 75px;
  }
}
.pix-logo__image__footer
{
  height: 50px;
  margin-right: 20px;
}
